{% extends 'base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block content %}
<div class="my-5 container">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{request.user}} </span></h3>
    
        <div class="col-md-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn px-5">Profile</a></li>
                <li class="d-grid"><a href="#" class="btn btn-primary px-5">Address</a></li>
            </ul>
        </div>
        <div class="col-md-6 offset-md-1">
            <div class="row">
                {% for ad in add %}
                <div class="col-md-6">
                    <div class="card m-2">
                        <div class="card-body text-center">
                            <h3>Address {{forloop.counter}}</h3>
                            <p>Name: {{ad.name}}</p>
                            <p>Locality: {{ad.locality}}</p>
                            <p>Mobile: {{ad.mobile}}</p>
                            <p>City: {{ad.city}}</p>
                            <p>State: {{ad.state}}</p>
                            <p>Pincode: {{ad.zipcode}}</p>
                            <p class="text-center"><a href="{% url 'updateaddress' pk=ad.id %}" class="btn btn-success" type="submit">Update</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}